header {
  display:block;
  .logo {
    display:inline-flex;
    flex-direction:column;
  }
  nav ul{
    max-width:483px;
    list-style: none;
    display:inline-flex;
    justify-content: space-evenly;
    gap:30px;
  }
}