header {
  display:flex;
  align-items:center;
  .logo {
    display:inline-flex;
    flex-direction:column;
    h1 {
      margin-top:0;
      margin-bottom: 10px;
    }
  }
  nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    ul {
      max-width: 483px;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      gap: 35px;
    }
  }
}

.header-pets {
  background-color:$color-light-xl;
  @include section-padding;
  padding-top:30px;
  padding-bottom:30px;
}