$modal-bg-color: #2b4fe0;
$secondary-color: #fffeed;
$shadow-color: #2a2a2a;
$easy-btn-color: #0d980d;
$medium-btn-color: #3f0c73;
$hard-btn-color: #8f0000;
$main-bg-color-night: rgba(253, 235, 155, 0.65);
$main-bg-color: rgba(84, 15, 98, 0.65);
$minefield-btn-color: #ddd9cd;
$minefield-btn-color-night: #7c230f;
