.menu__emoji {
  @include pixel-box(
    $corner-size: 2,
    $border-size: 3px,
    $background-color: $main-bg-color-night,
    $border-color: $secondary-color
  );
  max-height: 65px;
  padding: 10px;
  &.night {
    background-color: $main-bg-color;
  }

  @media (max-width: 500px) {
    max-height: 45px;
  }
}