.counter {
  background-color: $shadow-color;
  @include pixel-borders(
    $corner-size: 2,
  );
}

.counter__description {
    @include pixel-borders(
        $border-color: white,
        $border-size: 3px
      );
    filter: hue-rotate(56.67deg) saturate(200%) brightness(96.47%);
    
}