.rotate90deg {
    transform: rotate(90deg);
    .header-pets &{
        .burger-btn-line {
            border-color: $color-primary !important;
        }
    }
}

.show-menu {
    transform: translateX(0) !important;
}

.show-menu-screen {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.slider-slide-left {
    left:-990px !important;
}

.slider-slide-right {
    left: 990px !important;
}

.top-correct {
    top: -435px !important;
}

