html {
  font-family: Georgia, sans-serif;
  font-weight:400;
}

.logo:hover {
  .h1 {
    transition: ease-in-out color 0.3s;
    color:$color-primary-light;
    &.on-light {
      color:$color-dark-3xl;
    }
  }
  .logo-secondary {
    transition: ease-in-out color 0.3s;
    color:$color-light-xl;
    &.on-light {
        color:$color-dark-m;
    }
  }
}

h1 {
  font-size:2rem;
  line-height: 110%;
  font-weight:400;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: $color-primary;
  &.on-light {
    color: $color-dark-l;
  }
}

.logo-secondary {
  font-family: Arial, sans-serif;
  font-size:13px;
  line-height: 15px;
  margin-left:4px;
  letter-spacing: 0.1em;
  color: $color-light-xl;
  &.on-light {
    color: $color-dark-3xl;
  }
}

.on-dark {
  color: $color-light-xl;
}

h2, h3, h4, h5 {
  font-weight:400;
  color: $color-dark-l;
}

h2 {
  font-size:44px;
  line-height:130%;
  @media (max-width: $tablet-width) {
    font-size: 25px;
  }
}

h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  @media (max-width: $tablet-width) {
    font-size: 25px;
  }
}

h4, .button-round{
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-xl;
  &.on-light {
    color:$color-dark-l;
    &.initialized {
      color:$color-dark-3xl;
      border-bottom: 3px solid $color-primary;
    }
  }

  &.on-dark {
    color: $color-dark-s;

    &.initialized {
      color: $color-light-s;
      border-bottom:3px solid $color-primary;
    }
  }
}

.paragraph-s {
  font-family: 'Arial', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $color-dark-m;
}

footer figcaption h4{
  color: $color-primary;
}

a {
  text-decoration: none;
  cursor:pointer;
  border-bottom: 3px solid rgba(0,0,0,0);
  transition: color ease-in-out 0.3s,
  border-color ease-in-out 0.3s;
  &.on-dark:hover {
    color: $color-light-s;
  }

  &.on-dark:active, &.on-dark:target {
    color:$color-light-s;
    border-color: $color-primary;
  }

  &.on-light:hover {
    color: $color-dark-3xl;
  }

  &.on-light:active, &.on-light:target {
    color: $color-dark-l;
    border-color:$color-primary;
  }
}


.contacts-row a, .locations-row a {
  h4 {
    color: $color-primary;
    transition: ease-in-out color 0.3s;
  }
  img {
    transition: ease-in-out filter 0.3s;
  }
  &:hover{
    h4 {
      color: $color-light-xl;
    }
    img {
      filter: hue-rotate(-25.16deg) saturate(31.11%) brightness(117.65%);
    }
  }
}

