.main-pets {
  @include section-padding;
  background-color: $color-light-l;
  text-align:center;
  h3 {
    margin:0 auto;
  }

  .pets-wrapper {
    display:grid;
    grid-column-gap: 40px;
    grid-row-gap:30px;
    justify-items: center;

    @media (max-width: $tablet-width) {
      margin:42px auto;
      grid-template-columns: 1fr;
      grid-template-rows:repeat(8, 1fr);
    }
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      margin: 30px auto 40px;
    }
    @media (min-width:$desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      margin: 60px auto;
    }
  }

  .pets-navigation {
    @include flex-center(center);
    @media (max-width: $tablet-width) {
      gap:10px;
    }
    @media (min-width: $tablet-width) {
      gap: 20px;
    }
  }
}