@mixin gradient-bg {
  background: url("../img/bg/noise_transparent@2X.png"),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

@mixin flex-center ($justify-content) {
  display:flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin section-padding {
  padding:0 calc((100vw - 1280px)/2 + 40px);
}