$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark:#5C5C5C;
$color-dark-s:#CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-light-s:#FAFAFA;
$color-light-l:#F6F6F6;
$color-light-xl: white;
