@import "abstracts/_variables.scss";
@import "abstracts/_mixins.scss";

@import "base/_normalize.scss";
@import "base/_typography.scss";
@import "base/_base.scss";

@import "components/_buttons.scss";

@import "layout/_header.scss";
@import "layout/_footer.scss";

@import "pages/_main.scss";
@import "pages/_pets.scss";

