body {
    width: 100vw;
    max-height:1080px;
    background-image:url("../../assets/img/bg_day.png");
    background-repeat:no-repeat;
    background-position: center center;
    
    &::-webkit-scrollbar {
        display: none;
    }
    &.night {
      background-image:url("../../assets/img/bg_night.png") ;
    }
}

main {
    position: relative;
    width: 90%;
    height:100vmin;
    margin: 2% auto 0;
    @include window-boilerplate($main-bg-color, $secondary-color);
    transform: translateY(150%);
    transition: transform steps(50, start) 2s;
    padding-bottom: 5vmin;

    &.night {
      background-color: $main-bg-color-night;
    }
}


footer {
    padding-top: 1%;
    height: 5vh;
}